<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>TODOAPP</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
{% csrf_token %}
<nav class="navbar navbar-expand-md bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'tasks' %}">TODOAPP</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContentMobile"
                aria-controls="navbarSupportedContentMobile" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContentMobile">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Соцсети
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="https://github.com/airmely?tab=repositories">github</a></li>
                        <li><a class="dropdown-item" href="https://t.me/airenik">telegram</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="https://www.linkedin.com/in/airenik-melkonyan-227a98292/">linkedin.</a></li>
                    </ul>
                </li>
                {% if request.user.is_authenticated %}
                <li>
                    <a class="nav-link" href="http://127.0.0.1:8000/api/task/">API</a>
                </li>
                <li>
                    <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
                </li>
                <li class="nav-item">
                    <p><a class="nav-link disabled" aria-disabled="true">{{ request.user.first_name }}</a></p>
                </li>
                {% else %}
                <li>
                    <a class="nav-link" href="{% url 'login' %}">Войти</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% block content %}

{% endblock content %}
</body>
</html>