<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>TODOAPP</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
{% csrf_token %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'tasks' %}">TODOAPP</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Выборка
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Выбор чего-то еще</a></li>
                        <li><a class="dropdown-item" href="#">Какое-то действие</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Что-то еще здесь</a></li>
                    </ul>
                </li>
                <li>

                </li>
                {% if request.user.is_authenticated %}

                <li>
                    <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
                    <a class="nav-link" href=""></a>
                </li>
                <li class="nav-item">
                    <p><a class="nav-link disabled" aria-disabled="true">{{ request.user.first_name }}</a></p>
                </li>
                {% else %}
                <li>
                    <a class="nav-link" href="{% url 'login' %}">Войти</a>
                    <a class="nav-link" href=""></a>
                </li>
                {% endif %}

            </ul>
<!--            <form class="d-flex" role="search">-->
<!--                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Поиск задач">-->
<!--                <button class="btn btn-outline-success" type="submit">Поиск задач</button>-->
<!--            </form>-->
        </div>
    </div>
</nav>
{% block content %}

{% endblock content %}
</body>
</html>